*{
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
 nav{
    width: 100%;
    position: fixed;
    background-color:black; 
    /* border: 2px solid black; */
    z-index: 1000;
} 

.nav-bar{
  
  display: flex;  
  align-items:center;
  list-style: none; 
  padding: 12px 20px; 
  
}
span.logo{
    color: white;
    font-size: 40px;
}
.menu
{
    display: flex;
    padding-left: 30%;
}
.menu li{
    padding-left: 30px;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color:white;
    text-align: center;
    transition: 0.25s ease-in-out;
    position: relative;
    text-transform: uppercase;
    
}
.menu li a::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:gold;
    transition: 0.15s ease-in-out;
    
}
.menu  li a:hover:after{
    width: 100%;
    
}
.open-menu,.close-menu{
    position: absolute;
    cursor: pointer;
    font-size: 40px;
    color: white;
    display: none;
    

}
.open-menu{
    top: 30%;
    right: 20px;
    transform: translate(-50%);
}
.close-menu{
    top:20px ;
    right: 40px;
}
#check{
    display: none;
}
section{
    height: 100vh;
    padding: 10px 9% 20px;
}
.homepage_img img{
    width:25vw;
    filter: drop-shadow(10px 7px 10px white);
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_content h3{
    font-size: 30px;
    margin-top: 10%;
    font-family: Playball, cursive;

}
.home_content h2{
    font-size: 30px;
    margin-top: 3%;
    font-family: Playball, cursive;
}
body{
    background-color:#092635;
    width: 100%;
}
.home_content h1{
    font-size: 40px;
    padding-top: 1%;
    padding-bottom: 0%;
}
.home_content p{
    font-size: 20px;
    padding: 5% 0 5%;
    font-family: "Bebas Neue", sans-serif;

}
span{
    color:yellow;

}
.home_content a{
    display: inline-flex;
    justify-content: center;
    align-items: center;  
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 2rem;
    color: #FEFBF6;
    margin: 3px 2px 3px 0;
    transition: .5s ease; 
    margin-right: 20px;
}
.media_link a:hover{
background-color:#FEFBF6;
color:black;
box-shadow: 0 0 10px white;
} 
.btn{
    padding: 30px;
    font-family: "Bebas Neue", sans-serif;

}

.b a,.btn{
    position: relative;
    width: 15%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:rgba(0,0,0,0.5);
    overflow:hidden;
    border-radius: 20px;
    border: 2px solid white;
    margin-top: 5%;
    font-size: 20px;
      

}
.b a:hover{
     box-shadow: 0px 5px 15px yellow;
}
.working_experiance{
    width: 100%;
    height: 40vh;
    padding: 10px;
   
    

}

.about_us{
    width: 90%;
    height: 40vh;
    padding: 10px;
       

}
.about_us h3 ,h1{
    padding-bottom: 5%;
}
.about_us h3 {
    color: red;
    font-family: "Bebas Neue", sans-serif;

}

.percentage2{
    display: flex;
    justify-content: space- space-around;
    justify-content: space-evenly;
    margin-bottom: 7%;
    font-family: Playball, cursive;

}
.percentage2 h2{
    width: 20%;
}
.percentage2 span{
    color: white;
  font-size: 20px;
}
.total_works{
    display: flex;
    width: 100%;
    padding:5%;
    gap: 0px;
    color: white;
    background-color: black;
    
}

.contact i:hover{
    background-color: white;
    box-shadow: 2px 2px 2px 2px black;
}
.contact_me{
    width: 100%;
    display: flex;
    justify-content: space-;
    gap:10%;
    justify-content: center;
    align-items: center;
    padding: 40px;
    /* background-color: pink; */
    /* margin: auto; */
    
}
.contact_me:hover{
    background-image: url(./photos/contact\ me\ image.avif);
    background-position: center;
    background-size: cover;
}
.contact{
    width: 40%;
    height: 60vh;
    border: 2px solid black;
    text-align: center;
}

.contact:hover{
    /* border: 2px solid black; */
    box-shadow: 10px 5px 5px  yellow;
}
input:hover{
    box-shadow: 10px 5px 5px  yellow;  
}
.from_btn:hover{
    box-shadow: 10px 5px 5px  yellow;
}
   
    

.contact i{
    width: 60px;
    height: 60px;
    border: 1px solid white;
    color: red;
    font-size: 40px;
    border-radius: 50%;
    padding: 10px;
    /* margin: 0px 80px 20px 0; */
    
}
.contact a{
    
  display: flex;
  
  gap: 40px;
  line-height: 60px;
  
 
}
.contact h2{
    color: white;
}
.from  input{
    width:150% ;
    height: 10vh;
    /* padding: 20px; */
    border: 2px solid black;
    margin-bottom: 30px;
    
}
input.mess{
    width:150% ;
    height: 20vh;
    padding-bottom:45%;
}
.from button{
    width: 150%;
    height: 5vh;
    padding: 10px;
}
.what_I_do{
    width: 100%;
    display: flex;
    
}
.what_I_do i{
 width:100px;
 height:100px;
 border: 2px solid black;
 font-size: 50px;
 padding: 10px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto;
 
}
.what_I_do_topic{
    width: 100%;
    height: 70vh;

    
}
.what_text h1{
 text-align: center;   
font-size: 50px;
}




.experience1,.experience2,.experience3 {
    width: 30%;
    height: 40vh;
    /* border: 2px solid white; */
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.experience1:hover{
    box-shadow: 5px 2px 0 2px yellow;
    background-image: url(./photos/responsive\ image.jpg);
    background-position: center;
    background-size: cover;
}
.experience1 i:hover{
background-color: white;
box-shadow: 0px 5px 15px yellow;
}
.experience2:hover{
    box-shadow: 5px 2px 0 2px yellow;
}
.experience2 i:hover{
background-color: white;
box-shadow: 0px 5px 15px yellow;
}

.experience3:hover{
    box-shadow: 5px 2px 0 2px yellow;
}
.experience3 i:hover{
background-color: white;
box-shadow: 0px 5px 15px yellow;
}




@media only screen and (min-width:500px) and (max-width:900px){
    .nav{
        width: 190%;
    } 
    
    
        .nav-bar{
         
         display: flex;
         padding: 20px 30px; 
    
        
    }
    .menu li a{
        font-size: 12px;
    }
    .menu li{
        padding-left:10px;
    }
    .menu{
        padding-left: 0%;
    }
    
    span.logo{
        font-size: 23px;
    }
    .home{
        padding-top: 20%;
    }
    .b a{
        width: 35%;
    }
    .homepage_img img{
        width: 80%;
        margin:0 0 100% 0%;
    }
    section{
        padding: 0 0 0 10px;
    }
    .home_content{
        width: 150%;
    }
    .total_works{
        margin-top: 20%;
        height: 90vh;
        width: 100%;
    }
    .working_experiance{
        height: 70vh;
        /* width: 50%; */
    }
    .about_us {
        height: 70vh;
        /* width: 50%; */
        
    }
    .about_us h1 ,h3{
        padding-bottom: 2%;
        font-size: 20px;
    }
    .percentage2{
        display: block;
    }
    .contact_me{
        width: 100%;
    }
    .from input{
        width: 100%;
    }
    .from button{
        width: 100%;
    }
    .contact{
        width: 60%;
        justify-content: none;
    }
    .what_I_do_topic{
        margin-top: 20%;
        
    }
    .what_text{
        padding: 50px;
    }
}
@media only screen and (min-width:286px) and (max-width:500px) {
    .nav{
        width: 100%;       
        
        
     }
     .nav-bar{
         height: 30%; 
        /* padding:0; */
        
    }  
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right:-100%;
        z-index: 100;
        background-color:black;
        transition: all 0.2s ease-in-out;
    }
    .menu li{
        margin-top: 0px;
    }
    .menu{
        padding-left: 0px;
    }
    
    .menu li a{
        padding: 20px;
        color: white;
        font-size: 20px;
    }
    .open-menu,.close-menu{
        display: block;
        font-size: 30px;
    }
    #check:checked~.menu{
        right: 0;
    }
    /* body{
        width: 100%;
    } */
    .home{
        padding-top: 20%;
        
    }
    section{
        padding: 30px;
        width: 100%;
    }
    .homepage_img img{
        margin-bottom: 400%;
    }
    .home{
        display:block;
    }
    .home_content{
        width: 100%;
    }
    .home_content a{
        margin-right:15px;
        width: 3rem;
        height: 3rem;
        
    }
    .b a{
        width: 40%;
    }
    .homepage_img img{
      margin: 10% 0 0 15%;
      width: 70%;
          }
    .media_link a{
        padding: 20px;
        border-radius: 50%;

     }
     .about_us{
        height: 70vh;
        margin-bottom: 10%;
     }
     .working_experiance{
        height:60vh ;
        width: 90%;
    
     }
     .total_works{
        margin-top: 180% ;
        width: 100%;
        display: block;
        text-align: center;
       padding-left: 15%;
       
     }
     .percentage2{
        display: block;
     }
     .contact_me{
        display:block;
        width: 100%;
        padding: 5%;
       
     }
     .from input{
        width: 100%;
    }
    .from button{
        width: 100%;
    }
    .contact{
        width: 100%;
        height: 80vh;
        margin-bottom:20%;
    }
    .contact a{
        display: block;
    }
    .what_I_do_topic{
        margin-top: 100%;
    }
    .what_I_do{
        display: block;
        
    }
    .experience1{
        margin-bottom:20% ;
        width: 80%;
    }
}